# Network Ports
VYROBCA_PEER_PORT=7051
LEKARENA_PEER_PORT=9051
LEKARENB_PEER_PORT=11051
SUKL_PEER_PORT=13051
PUBLIC_PEER_PORT=15051

VYROBCA_CA_PORT=7054
LEKARENA_CA_PORT=8054
LEKARENB_CA_PORT=9054
SUKL_CA_PORT=10054
ORDERER_CA_PORT=11054
PUBLIC_CA_PORT=12054

ORDERER_PORT=7050
ORDERER_ADMIN_PORT=7053

# Organization Domains
VYROBCA_DOMAIN=vyrobca.example.com
LEKARENA_DOMAIN=lekarena.example.com
LEKARENB_DOMAIN=lekarenb.example.com
SUKL_DOMAIN=sukl.example.com
PUBLIC_DOMAIN=public.example.com
ORDERER_DOMAIN=example.com

# Fabric Versions
FABRIC_VERSION=2.5.12
CA_VERSION=1.5
